This is main component
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/florida">Florida</a></li>
      <li><a routerLink="/kentucky">Kentucky</a></li>
      <li><a routerLink="/badal">Badal</a></li>
    </ul>
  </div>
</nav>
  
<router-outlet> </router-outlet>
<h3>I am after roter outlet</h3>